.game-hand{
    padding:20px;
    background-color: #f0f0f0;
    border:1px solid #555;
    border-radius:4px;
    text-align: center;
}

.black{
    color:black;
}

.red{
    color:red;
}

.controls{
    width: 50%;
    margin: 40px auto 0;
}

.controls form, .controls form .form-row{
    width:100%;
}

.controls form .form-row{
    margin-left:0px;
}

.controls button{
    width:100%;
}

.setwinner-btn-row{
    margin: 0 auto;
    width:100%;
}
.setwinner-btn-col{
    margin: 10px auto 0;
    padding: 0 4px;
}

.messages{
    margin: 40px auto 0;
}