.game-title{
    margin: 40px auto;
    text-align:center;
}
.game-title h1{
    display: inline-block;
    margin: 0 30px;
    font-size: 4rem;
}

.game-title img{
    display:inline-block;
    vertical-align: bottom;
}

.game-intro{
    margin-bottom:40px;
}

.game-hand{
    padding:0;
    text-align: center;
}

.game-player, .game-ranking{
    margin:15px auto;
    text-align:center;
    color:#ffc107;
}

.pokercard-img{
    margin-bottom:2px
}

.hand-container{
    margin-bottom:10px;
    background-color: #21713e;
    border: 1px solid #555;
    border-radius: 4px;
}

.controls{
    margin: 40px auto 0;
}

.controls form, .controls form .form-row{
    width:100%;
}

.controls form .form-row{
    margin-left:0px;
}

.controls button{
    width:100%;
}

.setwinner-btn-row{
    margin: 0 auto;
    width:100%;
}
.setwinner-btn-col{
    margin: 10px auto 0;
    padding: 0 4px;
}

.setwinner-btn{
    margin-bottom:10px;
}

.messages{
    margin: 40px auto 0;
}